*{
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
}
.grids-container{
    display: grid;
    gap: 1rem;
    
}
@media(min-width: 40em){
    .grids-container{
        grid-template-columns: repeat(2, 1fr);
    }
}